Thumb.bd
Icon?
.DS_Store
.svn
.htaccess
php_errors.log
code_coverage
*~
*.swp
coverage
nbproject
build
.idea
application/cache
application/logs
application/files
application/config/database.php
application/config/dev-htpasswd
htdocs/media/*